@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.scroll-visible::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-visible::-webkit-scrollbar:vertical {
  width: 11px;
}

.scroll-visible::-webkit-scrollbar:horizontal {
  height: 11px;
}

.scroll-visible::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
